.modal{
    position: absolute;
    top:-100% ;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50% , -50%);
    width: 100%;
    max-width: 450px;
    transition: .3s;
    border-radius: 4px;
    z-index: 1000;
    padding: 10px 20px 30px;
    background-color: rgb(8, 8, 104);
}

.modal.active{
    top: 50%;
}